:root {
  --blue: #37517e;
  --bs-info
}
.front {
  background: var(--blue);
}
.front a {
  color: white !important;
}
.dropdown-menu a {
  color: black !important;
}
.anim-img {
  animation: up-down 3s linear infinite alternate;
}
nav {
  position: fixed !important;
  top: 0 !important;
  background: #37517e;
  width: 100%;
  left: 0;
  z-index: 999;
  margin: auto;
  display: flex;
  justify-content: center;
}
@keyframes up-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-17%);
  }
}
.text-blue {
  color: #37517e;
}
.gray {
  width: 85px;
  height: 3px;
  background-color: lightgray;
  border-radius: 30px;
  margin: auto;
  position: relative;
}

.blue {
  width: 40%;
  height: 4px;
  background-color: var(--bs-info);
  margin: auto;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.max-content {
  width: max-content;
  margin: auto;
}
.bg-blue {
  background: var(--blue);
}
.bg-img{
  
}
.bg-img {
  background-image: linear-gradient(
      rgba(55, 81, 126, 0.4),
      rgba(55, 81, 126, 0.9)
    ),
    url(https://themewagon.github.io/arsha/assets/img/cta-bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

    
}
.img-parant {
  overflow: hidden;
}
.img-contant {
  transition: all 0.5s;
  bottom: 0;
  transform: translateY(90px);
}
.img-parant:hover .img-contant {
  transform: translateY(0);

}
.my-card:hover{
transform: translatey(-10px);
}

.my-card{
transition: all 0.5s;
}



.my-card:hover h5{
    color:var(--bs-info);
}

.my-card h5{
transition: all 0.5s;
}

.my-hr{
    margin: auto;
}
@media (max-width:765px){
    .team-img{
        width: 40% !important;
        margin: auto !important;
        display:  block ;
    }

}
.s-card{
    transition: all 0.3s;
}

.s-card:hover{
    transform: translateY(-10px);
}
.clip-circle{
    clip-path: circle();
}
